In [9]:
import pandas as pd
import numpy as np
from collections import  Counter

In [3]:
df = pd.read_csv('data.csv')
df.head()

   Unnamed: 0  SARS-CoV-2                                           Sequence
0           0  ON052760.1  TTATACCTTCCCAGGTAACAAACCAACCAACTTTCGATCTCTTGTA...
1           1  OM915404.1  ACCAACCAACTTTCGATCTCTTGTAGATCTGTTCTCTAAACGAACT...
2           2  OM900023.1  TTGTAGATCTGTTCTCTAAACGAACTTTAAAATCTGTGTGGCTGTC...
3           3  ON052762.1  TTTCGATCTCTTGTAGATCTGTTCTCTAAACGAACTTTAAAATCTG...
4           4  ON063242.1  TTTCGATCTCTTGTAGATCTGTTCTCTAAACGAACTTTAAAATCTG...

In [5]:
lengths = [0]*len(df.index)
for ind in df.index:
    lengths[ind] = len(df['Sequence'][ind])
lengths

[29773,
 29831,
 29790,
 29751,
 29740,
 29752,
 29759,
 29880,
 29802,
 29832,
 29745,
 29781,
 29750,
 29763,
 29744,
 29747,
 29826,
 29790,
 29818,
 29802,
 29778,
 29740,
 29790,
 29780,
 29780,
 29817,
 29831,
 29739,
 29740,
 29739,
 29790,
 29753,
 29737,
 29790,
 29781,
 29835,
 29833,
 29743,
 29735,
 29790,
 29833,
 29781,
 29823,
 29760,
 29772,
 29790,
 29790,
 29766,
 29835,
 29819,
 29857,
 29832,
 29734,
 29789,
 29790]

In [10]:
lens = Counter(lengths)
lens

Counter({29773: 1,
         29831: 2,
         29790: 9,
         29751: 1,
         29740: 3,
         29752: 1,
         29759: 1,
         29880: 1,
         29802: 2,
         29832: 2,
         29745: 1,
         29781: 3,
         29750: 1,
         29763: 1,
         29744: 1,
         29747: 1,
         29826: 1,
         29818: 1,
         29778: 1,
         29780: 2,
         29817: 1,
         29739: 2,
         29753: 1,
         29737: 1,
         29835: 2,
         29833: 2,
         29743: 1,
         29735: 1,
         29823: 1,
         29760: 1,
         29772: 1,
         29766: 1,
         29819: 1,
         29857: 1,
         29734: 1,
         29789: 1})