In [1]:
import os
from Bio import SeqIO
import pandas as pd

In [2]:
df = pd.DataFrame(columns=['ID', 'Sequence', 'label'])

In [5]:
for filename in os.listdir(os.getcwd()+'/non_cov_data'):
    sub = os.getcwd() + '/non_cov_data'
    try:
        for seq_record in SeqIO.parse("{}/{}".format(sub, filename), "fasta"):
            df.loc[len(df.index)] = [seq_record.id, seq_record.seq, 0]
    except:
        continue
df

             ID                                           Sequence label
0    ON052760.1  (T, T, A, T, A, C, C, T, T, C, C, C, A, G, G, ...     1
1    OM915404.1  (A, C, C, A, A, C, C, A, A, C, T, T, T, C, G, ...     1
2    OM900023.1  (T, T, G, T, A, G, A, T, C, T, G, T, T, C, T, ...     1
3    ON052762.1  (T, T, T, C, G, A, T, C, T, C, T, T, G, T, A, ...     1
4    ON063242.1  (T, T, T, C, G, A, T, C, T, C, T, T, G, T, A, ...     1
..          ...                                                ...   ...
70  NC_002209.1  (A, G, C, A, G, A, A, G, C, A, G, A, G, C, A, ...     0
71  NC_002210.1  (A, G, C, A, G, A, A, G, C, A, C, G, C, A, C, ...     0
72  NC_002211.1  (C, G, C, A, G, A, A, G, C, A, G, A, G, G, A, ...     0
73  NC_001474.2  (A, G, T, T, G, T, T, A, G, T, C, T, A, C, G, ...     0
74  NC_003310.1  (G, T, T, A, G, T, A, A, A, T, T, A, T, A, T, ...     0

[75 rows x 3 columns]

In [6]:
df.to_csv('data.csv')