In [1]:
import os
from Bio import SeqIO
import pandas as pd

In [2]:
df = pd.DataFrame(columns=['ID', 'Sequence', 'label'])

In [3]:
for filename in os.listdir(os.getcwd()+'/sars_cov_data'):
    sub = os.getcwd() + '/sars_cov_data'
    try:
        for seq_record in SeqIO.parse("{}/{}".format(sub, filename), "fasta"):
            df.loc[len(df.index)] = [seq_record.id, seq_record.seq, 1]
    except:
        continue
df

            ID                                           Sequence label
0   ON052760.1  (T, T, A, T, A, C, C, T, T, C, C, C, A, G, G, ...     1
1   OM915404.1  (A, C, C, A, A, C, C, A, A, C, T, T, T, C, G, ...     1
2   OM900023.1  (T, T, G, T, A, G, A, T, C, T, G, T, T, C, T, ...     1
3   ON052762.1  (T, T, T, C, G, A, T, C, T, C, T, T, G, T, A, ...     1
4   ON063242.1  (T, T, T, C, G, A, T, C, T, C, T, T, G, T, A, ...     1
..         ...                                                ...   ...
60  ON052753.1  (T, T, C, C, C, A, G, G, T, A, A, C, A, A, A, ...     1
61  OM900175.1  (A, C, C, A, A, C, C, A, A, C, T, T, T, C, G, ...     1
62  ON052775.1  (G, A, T, C, T, C, T, T, G, T, A, G, A, T, C, ...     1
63  OM900055.1  (T, T, G, T, A, G, A, T, C, T, G, T, T, C, T, ...     1
64  OM900114.1  (T, T, G, T, A, G, A, T, C, T, G, T, T, C, T, ...     1

[65 rows x 3 columns]

In [4]:
df.to_csv('data.csv')